@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

.container {
    margin: 30px;
}
  
/* ne divit, jotka ovat containerin sisällä */
.container div {
margin-bottom: 20px;
}

/* ne labelit, jotka ovat containerin sisällä */
.container label { /* tai .container form label */
width: 60px;
display: inline-block;
}

h2 {
    font-family: 'Kurale', serif;
}

p {
    font-family: 'Tahoma';
}